
# Mac / Linux

.DS_Store



# Logs

*.log



# Environment

.env



# IDEs

.idea/

.vscode/



# Node

node_modules/



# Java / Spring

backend/target/

backend/.mvn/

*.class



# OS

Thumbs.db

# Java
target/
*.class
*.log

# IDE
.idea/
*.iml

# OS
.DS_Store

# node (si algún día usas)
node_modules/